<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        input , button {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <h1>
        hello this is a coursing training node js + express js ,hava a nice day 
    </h1>
    <form action="/add/user" method="post">
        <input type="text" name="username" placeholder="name" required>
        <br>
        <br>
        <button type="submit">send to db</button>
    </form>

    <% users.forEach((user)=> { %>
        <li>
            <h2>
                <%= user.username %>
            </h2>
            <p>
                <%= user.createdAt  %>
            </p>
        </li>
        <hr />
    <% }) %>
</body>
</html>